.jumbotron {
 background-color: rgb(255, 255, 0);
 color: rgb(0, 0, 0);
 margin-top: 25px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: rgb(255, 255, 0);
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hoteles {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserve {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}
